.btn{
    color: var(--main-text-color);
    background-color: var(--main-brand-color);
    padding: 3px 10px;
    border-radius: 8px;
    border: 1px solid var(--main-brand-color);
}

.hidden{
    /*Display none lo utilizamos para ocultar elementos del nuestro html*/
    display: none;

    /*El visibility: hidden; hace que desaparesca pero sigue ocupando el 
    lugar donde esta miestras que con display: none; desaparece del todo*/
    /* visibility: hidden; */
}


