/* alinear textos en la pagina con tex-aling 
se utiliza cuando solamente queremos alinear el texto
y solo alinea horzontalmente*/

.footer{
    text-align: center;
    font-style: italic;
    background-color: var(--main-bg-color);
    /* se puede poner padding de las siguientes formas*/
    /*T - R - B - L */
    /* padding: 50px,10px,10px,10px; */
    /* Y - X */
    /* padding: 20px,20px; */
    /* ALL */
    padding: 40px;

    /*Bordes*/
    /* border: 2px solid coral; */

    /*para redondear las esquinas con border*/
    /* border-radius: 10px; */

    /*margin es como el padding aplica las mismas reglas*/
    /* margin: 10px; */
    
}
/* 1rem = 16px  dependiendo como pongamos la constante de la medida en px*/
.footer p{
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    text-transform:capitalize;
    line-height: 2;
}

.footer .footer__powered{
font-style: normal;
}